@model net_pers_fin.Models.user

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>user</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.verified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.verified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastlogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastlogin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
