@model IEnumerable<net_pers_fin.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastlogin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastlogin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
